{% extends 'frontend/base.html' %}
{% load static %}

{% block body %}

<div class="m-5">
    <div class="card card-body">
        <div class="card-text text-center fw-bolder fs-3 mt-3">
            Todo List
        </div>
        <div class="card-body p-5">
            <form action="{% url 'edit' dataEdit.id%}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-9">
                        <div>
                            <input type="text" class="form-control" name="task" id="task" placeholder="Add Task" value="{{dataEdit.title}}">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="d-grid">
                            <button type="submit" class="btn btn-warning">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card card-body my-3">
        <div class="card-body p-5">
            {% for task in data %}
            <div class="row m-3">
                <div class="col-md-10 fs-5" style="font-family: 'Source Sans Pro', sans-serif;">
                    {{task.title}}
                </div>
                <div class="col-md-1">
                    <a href="{% url 'edit' task.id%}" class="btn btn-primary">Edit</a>
                </div>
                <div class="col-md-1">
                    <a href="{% url 'delete' task.id%}" class="btn btn-danger">Delete</a>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock body %}