{% extends '../frontend/base.html' %}
{% load static %}

{% block body %}



<div class="d-flex justify-content-center mt-5">

    <div class="card" style="width: 25rem;">
        <div class="card-body">
            <h4 class="card-title my-3 text-center">signIn</h4>
            <form action="{% url 'signInUser' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label" for="id_username">Username</label>
                    {{form.username}}
                </div>
                <div class="mb-3">
                    <label class="form-label" for="id_pasword1">Password</label>
                    {{form.password1}}
                </div>
                <div class="mb-3">
                    <label class="form-label" for="id_pasword2">Confirm Password</label>
                    {{form.password2}}
                </div>
                {% if form.errors %}
                {% for key, value in form.errors.items %}
                <div class="d-flex justify-content-center mb-3">
                    <strong
                        style="color: red;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">{{ value }}</strong>
                </div>
                {% endfor %}
                {% endif %}
                <div class="d-grid mb-3">
                    <button class="btn btn-outline-success btn-block">Sign In</button>
                </div>
                <div class="mb-3 text-center">
                    Already have account? <a href="{% url 'loginUser' %}" style="text-decoration: none;">login</a>
                </div>
            </form>
        </div>
    </div>

</div>

<script>
    let form_fields = document.getElementsByTagName('input')

    for (let field in form_fields) {
        form_fields[field].className += 'form-control';
    }
</script>
{% endblock body %}